<!---Página para contatos com a Brafé --->
<div class="contato">
	<h1>Possui alguma dúvida?</h1>
	<h2>Ligue para o nosso serviço de atendimento: (21)0800-9999</h2>
	
	<div class="imagem">
		<%= image_tag "contato.jpg"%>
	</div>
</div>
